<!--
   main.html
   
   Copyright 2016 Cesar Venzor <foxhound15c@gmail.com>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

{% extends "layout.html" %}

{% block content %}

<div class="container"><h1>RPI focos extremos</h1></div>


{% if error %}
<div class="container alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <p><strong>Error: </strong>{{ error }} 
{% endif %}
</div>

<div class="container">
  {% for f in focos %}
      <h2> {{focos[f].name}}
  {% if focos[f].state == true %}
	is currently <strong>on</strong></h2>
   {% else %}
       is currently <strong>off</strong></h2>
{% endif %}
{% endfor %}
</div>
  
{% endblock %}
